@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&display=swap');
/* .logo{
    font-family: Black Ops  One;
    font-size: 2rem;
  } */
.wrapper{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 18, 18);
    max-width: 100%;
    height: 100%;
    z-index: -1;
    /* padding-top: 2em; */
}

.h1{
    font-size: 2.7rem;
    /* padding: 3em;
      background-color: #181818; */
      color: white;
  }
  @media(max-width:600px){
    .h1{
        font-size: 2.3rem;
       
      }
    }
  .redh1{
      color: red;
      
  }
  .line{
      width: 10em;
      height: 1px;
      background-color: #494949;
    }
  .headBlock{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      background-color: black;
      left: 0;
      right: 0;
      top: 0;
      height: 50vh;
      gap: 2em;
  }
  @media(max-width:600px){
    .hg1{
        font-size: 2.3rem;
        color: white;
      }
    }
  .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 60vh;
    margin-bottom: 10vh;
    max-width: 1600px;
  }
  @media(max-width:1600px){
    .content{
        width: 100%;
    }
}
  .cv{
    padding: 4em;
    width: 80%;
    background-color: rgb(16, 16, 16);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4em;
    box-shadow: 0 0 10px 5px rgba(71, 71, 71, 0.5);
  }
  .cvLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    gap: 2.5em;
  }
  .imgAbout{
    width: 330px;
    height: auto;
  }
  .cvText1{
    color: grey;
    font-size: 1.4rem;
    line-height:1.5em;
  }
  .cvTextCitate{
    color: white;
    font-size: 1.4rem;
    border-left: 3px red solid;
    padding-left: 1em;
    line-height:1.5em;

  }
  @media(max-width:1400px){
    .cv{
        width: 90%;
    }
}
@media(max-width:1250px){
    .imgAbout{
        width: 350px;
        height: auto;
      }
}
@media(max-width:1000px){
    .imgAbout{
        width: 100%;
        height: auto;
      }
      .cv{
        width: 90%;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
}
@media(max-width:600px){
    .cv{
        padding: 1.5em;
        gap: 1.5em;
    }
    .cvText1,.cvTextCitate{
        font-size: 1.2rem;
        line-height:1.2em;
      }
}